* {
    padding: 0;
    margin: 0;
    font-size: 28px;
}

body {
    background-color: #f9f2f2;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }

#header h2 {
    padding-top: 10px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 35px;
    background-color: #dbd5d5;
}

#navbar {
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    text-align: center;
    font-family: monospace;
    background-color: #dbd5d5;
}

#navbar div a:hover {
    color: #6e6666;
}

.center div {
    width: 200px;
    height: 200px;
}

.center img {
    max-width: 100%;
    max-height: 100%;
}

.paragraph h3 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.paragraph p {
    padding-left: 26px;
    padding-right: 26px;
    margin: auto;
    font-family: monospace;
    font-size: 20px;
    text-align: justify;
}

.checkbox {
    padding-left: 26px;
    margin: auto;
}

#button {
    font-family: monospace;
    font-size: 20px;
    padding: 20px;
}

#button:hover {
    background-color: #dbd5d5;
}
.heading h3 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.heading p {
    text-align: center;
}

/* Making my images appear side by side */
.column img {
    float: left;
    width: 30.33%;
    padding-left: 26px;
    padding-right: 10px;
    justify-content: space-evenly;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

/* CHECKBOX FORM */
#second_header h2 {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 35px;
    background-color: #dbd5d5;
}

#second_navbar {
    justify-content: space-between;
    align-items: center;
    position: sticky;
    text-align: center;
    font-family: monospace;
    background-color: #dbd5d5;
}

#second_navbar div a:hover {
    color: #6e6666;
}

.second div {
    width: 200px;
    height: 200px;
}

.second img {
    max-width: 100%;
    max-height: 100%;
}

.second_paragraph p {
    padding-left:100px;
    padding-right: 100px;
    margin: auto;
    font-family: monospace;
    font-size: 20px;
    text-align: justify;
}
.check_box {
    text-align: center;
    font-weight: 600;
    
}

.label {
    padding-left:100px;
    margin: auto;
    font-family: monospace;
    text-align: justify;
}

.label label {
    font-size: 20px;
}

.label p b {
    font-size: 20px;
}

.submit_checkbox {
    font-family: monospace;
    font-size: 20px;
    padding: 20px;
}

/* END OF CHECKBOX FORM */



/* FORM PART */

.form {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.form_label {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
#name {
    text-align: center;
    font-family: monospace;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;

}

#email {
    text-align: center;
    font-family: monospace;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

.button_btn{
    text-align: center;
}

.btn {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #dbd5d5;
}


/* CHECKLIST */

.position {
    text-align: center;
    margin-right: 35px;
    margin-left: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #333;
    background: rgba(255, 255, 255, 0.3);
    padding: 15px 20px 18px 18px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #333;
}

.routine-checklist {
   text-align: center;
   padding-left: 100px;
   padding-right: 100px;
}

.routine-checklist p {
    font-family: monospace;
    font-size: 20px;
}

.container {
    text-align: center;
}

#inputField {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  border-radius: 10px;
  width: 300px;
  height: 46px;
  border: 1px solid black;
  outline: none;
  font-size: 25px;
  vertical-align: middle;
  text-align: center;
}

#addToDo {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  border-radius: 10px;
  height: 46px;
  width: 140px;
  outline: none;
  border: 1px solid black;
}

#addToDo:hover {
    background-color: #dbd5d5;
}

.priority {
    text-align: center;
}

#important {
    font-size: 20px;
    font-family: monospace;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
  
#important:hover {
    background-color:#dbd5d5;
}

.to-dos {
    margin-top: 35px;
    font-family: 'Times New Roman', Times, serif;
}

.paragraph-styling {
    margin: 0;
    cursor: pointer;
    font-size: 25px;
}

/* DRY SKIN */

.heading-2 h3 {
    text-align: center;
}

.heading-2 p {
    padding-left:100px;
    padding-right: 100px;
    margin: auto;
    font-family: monospace;
    font-size: 20px;
    text-align: justify;
}

.steps {
    padding-left:135px;
    padding-right: 100px;
    margin: auto;
    font-family: monospace;
    text-align: justify;
}

.steps li {
    font-size: 20px;
}

.steps li b {
    font-size: 20px;
}

.comment_header {
    text-align: center;
}

#new-comment {
    margin-left: 410px;
    margin-right: 390px;
    border-radius: 100px;
}

#btn-post {
    text-align: center;
    margin-left: 700px;
    margin-right: 700px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#btn-post:hover {
    background-color: #dbd5d5;
}

/* COMBINATION SKIN */
.third-heading {
    text-align: center;
}

/* FOOTER */

.footer{
    background-color: #dbd5d5;
    color: black;
    padding: 20px;
    text-align: center;
    justify-content: space-evenly;
}

.footer div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10px;
}

.footer a{
    color: black;
    font-family: monospace;
    font-size: 20px;
}

.footer p {
    font-family: monospace;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.footer a:hover{
    color: #6e6666;
}
